
.table{
  display: grid;
  grid-template-columns: repeat(18,1fr);
  grid-template-rows: repeat(9, 1fr);
  width:90vw;
}
.elempage{
  width:90vw;
}

/* Every element box  */
.element {
  cursor: pointer;
  width: 5vw;
  height: 5vw;
  padding: 2px;
  border-collapse: collapse;
  overflow: hidden;
  text-decoration: none;
}
.element a{
  text-decoration: none;
  color: inherit!important;
}
.element .number {
  float: left;
  font-size: 0.5vw;
  position: absolute;
}

.element .symbol {
  font-weight: bold;
  text-align: center;
  margin-top: 0.5vw;
  font-size: 2vw;
}

.element .element-name {
  font-size: 0.8vw;
  text-align: center;
}

.elemInfo{
  grid-column-start:3;
  grid-column-end:13;
  grid-row-start:1;
  grid-row-end:4;
  border-collapse: collapse;
  overflow: hidden;
  font-size: 1.5vw;
}
.infoCard{
  width: 35vw;
  height: 15vw;
  font-size: 1.8vw;
}
.info_data{
  font-size: 2.4vw;
}
.element.einfo{
  width: 11vw;
  height: 11vw;
  font-size: 1.5vw;
  margin: 2vw;
}
.element.einfo .number {
  font-size: 1.2vw;
}
.element.einfo .symbol {
  margin-top: 1.2vw;
  font-size: 4.8vw;
}
.element.einfo .element-name {
  font-size: 1.2vw;
}